/*

Aula 04 - CSS para formulário de inscrição

Tópicos principais:

1. Estilização de inputs, select e textarea
2. layout flexbox para grupos de formulários
3. botões interativos com hover
4. backgrounds em gradientes (desktops)
5. sombras de profundidade 


*/

/*Estilos globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Inter', sans-serif;
    background-color:rgb(236, 234, 102);
    padding: 20px;
    /*
      flexbox: centralizar o formulário
      justify-content: centralizando horizontalmente
      align-items: alinhando no topo (mobile para facilitar o scroll)
    */
    display: flex;
    justify-content: center;
    align-items: center;

    /*altura miníma para ocupar a tela toda*/
    min-height: 100vh;
}

/*Wrapper fo formulário*/

.form-wrapper {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
}   

/*Título do formulário*/
h2 { 
text-align: center;
font-size: 1.4rem;
color: rgb(0, 0, 0);
margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 15px;
    background-color: rgb(236, 234, 102);
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}

/*Media Queries*/
@media (min-width: 768px) {
    body {
        align-items: center;
        background: linear-gradient(135deg, rgb(238, 238, 147) 30%, rgb(255, 255, 255) 90%);
    }

    .form-wrapper {
        padding: 40px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
    }

    button:hover {
        background: rgb(236, 234, 102);
        cursor: pointer;
    }

}