/*
Aula 03 - CSS Para página de receita

Tópicos principais

1. Estilos globais
2. Container de receita
3. Títulos e seções
4. Listas flexiveis
5. Tabelas
6. Media Queries
*/

/*Estilos globais*/

/* Reset do CSS padrão do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1414;
    padding: 15px;
    color: #c05107;
}

/* Container de receita*/

.recipe-container {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*Títulos e seções*/

h1 {
    text-align: center;
    color: rgb(199, 93, 6);
    font-size: 1.5rem;
}

/*Listas flexiveis*/

.flex-list {
    display: flex; /*Ativa o modelo flex para o elemento*/
    flex-direction: column; /*Organiza os itens em uma coluna e o row os itens ficam lado a lado*/
     gap: 3px ; /*Adiciona um espaço entre os itens da lista*/
     list-style: none; /*Remove os marcadores padrão da lista*/
    }

    /*Estilo de cada item da lista*/

    .flex-list li {
        background-color: #2c1e1e;
        color: rgb(199, 93, 6);
        border-radius: 8px;
        text-align: center;
    }
    /*Seções*/

    .info {
        /*Se a tabela ficar muito larga em mobile, permite scroll horizontal*/
        overflow: auto;
    }

